{{#not isSavedToMap}}
	<h2>Add Marker</h2>
{{/not}}

{{#if isSavedToMap}}
	<h2>Edit Marker</h2>
{{/if}}

<nav class="oh-google-map-tabs oh-google-map-clearfix oh-google-map-two-up">
	<ul>
		<li><a class="oh-google-map-tab-trigger active" href="#oh-location-tab">Location</a></li>
		<li><a class="oh-google-map-tab-trigger" href="#oh-content-tab">Content</a></li>
	</ul>
</nav>

<div id="oh-location-tab" class="oh-google-map-clearfix oh-google-map-tab">

	<div class="oh-google-map-row">
		<div class="oh-google-map-column oh-google-map-large-8">
			<p><b>Address:</b> <span class="address">{{address}}</span></p>
			<p><b>Latitude:</b> <span class="lat">{{lat}}</span></p>
			<p><b>Longitude:</b> <span class="lng">{{lng}}</span></p>

			<a href="#" class="edit-location">Change Location</a>
		</div>
		<div class="oh-google-map-column oh-google-map-large-4">
			<div class="oh-google-map-map-icon">
				<label>Map Icon</label>
				<span><img src="{{#if icon}}{{../icon}}{{/if}}{{#not icon}}http://mt.googleapis.com/vt/icon/name=icons/spotlight/spotlight-poi.png&scale=2{{/not}}" /></span>
				<a href="#" class="change-icon">Change Icon</a>
			</div>
		</div>
	</div>

</div>

<div id="oh-content-tab" class="oh-google-map-clearfix oh-google-map-tab">
	
	<div class="oh-google-map-row">
		<div class="oh-google-map-column oh-google-map-large-12">
			<div class="oh-google-map-margin-bottom">
				<label for="poly-title">Title</label>
				<input type="text" name="title" id="poly-title" value="{{title}}" class="text fullwidth" />
			</div>
		</div>
	</div>

	<div class="oh-google-map-row">
		<div class="oh-google-map-column oh-google-map-large-12">
			<div class="oh-google-map-margin-bottom">
				<label for="poly-title">Content</label>
				<textarea name="content" id="poly-content" class="text fullwidth">{{content}}</textarea>
			</div>
		</div>
	</div>

</div>

<div id="oh-options-tab" class="oh-google-map-clearfix oh-google-map-tab">

	<div class="oh-google-map-row">
		<div class="oh-google-map-column oh-google-map-large-6">
			<div class="oh-google-map-margin-bottom">
				<label for="stroke-color">Stroke Color</label>
				<input type="text" name="strokeColor" id="stroke-color" value="{{strokeColor}}" class="simple-color-picker text fullwidth" />
			</div>
		</div>
		<div class="oh-google-map-column oh-google-map-large-6">
			<div class="oh-google-map-margin-bottom">
				<label for="stroke-color">Fill Color</label>
				<input type="text" name="fillColor" id="fill-color" value="{{fillColor}}" class="simple-color-picker text fullwidth" />
			</div>
		</div>
	</div>

	<div class="oh-google-map-row">
		<div class="oh-google-map-column oh-google-map-large-6">
			<div class="oh-google-map-margin-bottom">
				<label for="stroke-opacity" class="oh-google-map-small-margin-bottom">Stroke Opacity</label>
				<div class="slider" data-value="{{strokeOpacity}}" data-start=".6" data-step=".1" data-min="0" data-max="1"></div>
				<input type="hidden" name="strokeOpacity" id="stroke-opacity" value="{{strokeOpacity}}" />
			</div>
		</div>
		<div class="oh-google-map-column oh-google-map-large-6">
			<div class="oh-google-map-margin-bottom">
				<label for="fill-opacity" class="oh-google-map-small-margin-bottom">Fill Opacity</label>
				<div class="slider" data-value="{{fillOpacity}}" data-start=".6" data-step=".1" data-min="0" data-max="1"></div>
				<input type="hidden" name="fillOpacity" id="fill-opacity" value="{{fillOpacity}}" />
			</div>
		</div>
	</div>

	<div class="oh-google-map-row">
		<div class="oh-google-map-column oh-google-map-large-6">
			<div class="oh-google-map-margin-bottom">
				<label for="stroke-opacity" class="oh-google-map-small-margin-bottom">Stroke Weight</label>
				<div class="slider" data-value="{{strokeWeight}}" data-start="3" data-step="1" data-min="0" data-max="10"></div>
				<input type="hidden" name="strokeWeight" id="stroke-weight" value="{{strokeWeight}}" />
			</div>
		</div>
		<div class="oh-google-map-column oh-google-map-large-6">
		</div>
	</div>

</div>

<footer>
	{{#not isSavedToMap}}
		<button type="submit" class="btn submit">Save Marker</button>
	{{/not}}

	{{#if isSavedToMap}}
		<button type="submit" class="btn submit">Save Changes</button>
	{{/if}}
	
	<a href="#" class="cancel">Cancel</a>
</footer>